* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "linkin";
  src: url("../font/LinkinPark.ttf");
}
body h2,
body h3,
body h4 {
  font-family: "linkin", sans-serif;
  color: #000000;
  text-shadow: 0px 2px 7px #fff;
  text-align: center;
}
body hr {
  visibility: collapse;
}

main {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  text-indent: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease-in-out forwards;
  position: relative;
  z-index: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
main img {
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
}
main video {
  max-width: 80%;
}
main p {
  line-height: 1.5;
  background-color: #000000;
  font-size: 1.1rem;
  display: inline;
}

section div {
  margin-bottom: 20px;
}
section h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
section h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) and (orientation: landscape) {
  img {
    display: inline-flex;
    justify-content: center;
    width: 45%;
    max-width: 100%;
    padding: 1rem;
  }
  header h1 {
    font-size: 3rem;
    padding-top: 0%;
  }
  .centrar {
    text-align: center;
  }
  .cuerpo {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
}
header {
  color: #ffffff;
  padding: 10px;
  background: linear-gradient(to right, rgb(162, 162, 162), rgb(0, 0, 0));
  position: relative;
  z-index: 2;
}
header h1 {
  padding-top: 20px;
  font-family: "linkin", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 7px 7px 7px #000000;
}
header img {
  max-width: 15%;
  float: right;
}
header {
  position: sticky;
  top: 0;
}

@media (min-width: 1024px) and (orientation: landscape) {
  header {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));
  }
  header h1 {
    font-size: 3rem;
    padding-top: 0%;
  }
  header img {
    float: left;
    width: 6rem;
  }
}
nav {
  font-family: "linkin", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #ffffff;
  float: left;
}

.offcanvas {
  background-image: url(../img/navbar2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (min-width: 1024px) and (orientation: landscape) {
  nav {
    float: right;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .offcanvas {
    background-image: none;
  }
}
footer {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));
  text-shadow: 1px 5px 7px #000000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer div ul li {
  display: inline-block;
  margin-right: 40px;
}
footer div ul li a img {
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
footer div ul li a img:hover {
  opacity: 1;
}

.icon__footer {
  max-width: 2rem;
}

@media (min-width: 768px) and (orientation: landscape) {
  .icon__footer {
    max-width: 4rem;
  }
}
.gif {
  border: 5px solid #ffffff;
  width: 90%;
}

.index__bg {
  background-image: url(../img/mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .index__bg {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
fieldset {
  border: 5px solid #000000;
  font-family: "linkin", sans-serif;
  color: #000000;
  text-shadow: 2px 2px 7px #ffffff;
}

.contacto__form {
  text-align: center;
  font-size: 1rem;
  background-color: rgb(33, 31, 31);
}

.contacto__img {
  border: 2px solid rgb(0, 0, 0);
  box-sizing: border-box;
  width: 90%;
}

.contacto__nombre {
  width: 90%;
}

.contacto__mensaje {
  width: 90%;
}

.contacto__bg {
  background-image: url(../img/contacto-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .contacto__nombre {
    max-width: 90%;
  }
  .contacto__mensaje {
    max-width: 90%;
    height: 200px;
  }
  .contacto__bg {
    background-image: url(../img/contacto-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.disc__lista {
  line-height: 1.5;
  color: #000000;
  font-family: "linkin", sans-serif;
  text-shadow: 1px 1px 7px #ffffff;
  font-size: 1.4rem;
  display: inline-block;
}

.discografia__bg {
  background-image: url(../img/discografia-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .cuerpo__disc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
.chester__bg {
  background-image: url(../img/background-chester.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .chester__bg {
    background-image: url(../img/chester-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
body {
  background-image: url(../img/mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .galeria__bg {
    background-image: url(../img/galeria-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=styles.css.map */
