.disc__lista {
    line-height: 1.5;
    color: #000000;
    font-family: 'linkin', sans-serif;
    text-shadow: 1px 1px 7px #ffffff;
    font-size: 1.4rem;
    display: inline-block;
}

@media (min-width: 1024px) and (orientation: landscape) {
.cuerpo__disc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
}