.gif {
    border: 5px solid rgb(255, 255, 255);
    width: 90%
}

.index__bg {
    background-image: url(../img/mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


@media (min-width: 1024px) and (orientation: landscape) {

    .index__bg {
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}