footer {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));
    text-shadow: 1px 5px 7px #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    & div ul li {
        display: inline-block;
        margin-right: 40px;

        & a img {
            width: 100%;
            opacity: 0.7;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.icon__footer {
    max-width: 12%; 
}

@media (min-width: 1024px) and (orientation: landscape) {
    .icon__footer {
        max-width: 4%;
    }
}