header {
    color: #ffffff;
    padding: 10px;
    background: linear-gradient(to right, rgb(162, 162, 162), rgb(0, 0, 0));
    position: relative;
    z-index: 2;

    & h1 {
        padding-top: 20px;
        font-family: $fuente-principal;
        text-align: center;
        font-size: 2.5rem;
        text-shadow: 7px 7px 7px #000000;
    }

    & img {
        max-width: 15%;
        float: right;
    }

    & {
        position: sticky;
        top: 0
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    header {
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(162, 162, 162));

        & h1 {
            font-size: 3rem;
            padding-top: 0%;
        }

        & img {
            float: left;
            width: 6rem;
        }
    }
}