nav {
    font-family: 'linkin', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #ffffff;
    float: left;
}

.offcanvas {
    background-image: url(../img/navbar2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    border: none !important;

    &:focus {
        box-shadow: none !important;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    nav {
        float: right;
    }
}


@media (min-width: 1200px) and (orientation: landscape) {
.offcanvas {
    background-image: none;
}
}